#board {
  height: 800px;
  width: 800px;
}
#squares {
  height: 800px;
  width: 800px;

  display: flex;

  flex-wrap: wrap;
  z-index: -10;
  position: absolute;
}

.squareDark {
  height: 100px;
  width: 100px;
  background-color: rgb(148, 84, 0);
}
.squareLight {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
}

img {
  height: 90px;
  width: 90px;
  margin: 5px;
}
.piece {
  height: 100px;
  width: 100px;
  position: absolute;
}
.piece:hover {
  cursor: pointer;
}
